@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

h1 {
  @apply text-9xl font-extrabold;
  font-family: "Inter";
  font-weight: 700;
}

h2 {
  @apply text-5xl font-extrabold mb-5;
  font-weight: 900;
  font-family: "Inter";
}

h3 {
  @apply text-4xl font-extrabold;
}

p {
  @apply mb-1;
}

body {
  margin: 0;
  font-family: "Inter";
}

.navbar {
  @apply p-3 flex w-full;
}

button,
.button {
  @apply p-3 text-white px-5 border-b-4 rounded-xl border-slate-800;
}

dt {
  font-weight: 700;
}

.bg-twitter {
  background-color: #1da1f2;
}

.bg-discord {
  background-color: #5865f2;
}
